<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Welcome to Book Addicts</title>
    <style>
      body{
       background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url('../../media/shop/images/header.jpg');
        background-size: cover ;
        background-repeat:repeat-y;
        color:white;
        font-family:Georgia;
        }
   </style>

  </head>
  <body>
    <div class="jumbotron text-white bg-dark">
  <h1 class="display-4">Welcome to Book Addicts</h1>
  <p class="lead">In this project, we develop Online Book Buying and Selling Portal  in Python. This project is like an e- bookstore website where books can be bought from the comfort of home through the Internet. A user can buy the books or can upload their books to resell them on the online.  An online bookstore is a virtual store on the Internet where customers can browse the catalog and select books of interest. User can select many books and those books stored in cart. At checkout time, the items in the shopping cart will be presented as an order. At that time, more information will be needed to complete the transaction. Usually, the customer will be asked to fill the basic details or select a billing address, a shipping address, a shipping option, and payment option such as cash on delivery or online payment etc</p>
  <hr class="my-4">
  The major goal for Online Book Buying and Selling Portalis that in future people, especially students should have an easy way to buy and sell books online. The users will be able to carry out all these in a secured and managed environment. The secondhand-eBook shop shall be easy to navigate and user friendly and easy to find books in various categories. It shall be easy to administer and handling of orders and sales processes shall be easy to handle by the administrator
  <p>
    <a class="btn btn-primary btn-lg" href="/shop" role="button">Go To Book Addicts</a>
  </p>  
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>