{% extends 'shop/basic.html' %}

{% block title%}About Us{% endblock %}
{% block body %}
<main role="main">

    <div class="jumbotron text-white bg-dark">
        <div class="container ">
            <h1 class="display-3">Book Addicts!</h1>
            <p>Book Addicts is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in Singapore as a private limited company.
                [5] The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.
                The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal.[6][7] As of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry.[8] Flipkart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[9] Flipkart also owns PhonePe, a mobile payments service based on the UPI.
                In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Flipkart for US$16 billion, valuing Flipkart at around $20 billion.[10]</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn More &raquo;</a> </p>

        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Sakshi Vasant Kalambe</h2>
                    <p></p>
                    <p><a class="btn btn-secondary" href="#" role="button">View Details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Swarangi Anant Sawant</h2>
                    <p></p>
                    <p><a class="btn btn-secondary" href="#" role="button">View Details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Vidhi Alpesh Shah</h2>
                    <p></p>
                    <p><a class="btn btn-secondary" href="#" role="button">View Details &raquo;</a></p>
                </div>
            </div>
        </div>
</main>

{% endblock %}